.career-section-container {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#0D1224;
    padding-top: 10px;
    padding-bottom:120px;

}

.career-bage {

    padding:10px 18px;
    border-radius:25px;
    border:1px solid #B360FC;
    background:rgba(177,115,235,0.18);
    backdrop-filter:blur(20px);
}

.career-heading {

    margin-top:25px;
    text-align:center;
}

.career-heading h2 {

    font-size:52px;
    line-height:1.2;
    font-weight:800;
}

.career-heading span {

    color:#CD93FF;
    font-family: "Space Grotesk", sans-serif;
}

.career-card-container {

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:24px;
    margin-top:60px;
}

.career-card {

    border-radius:24px;
    border:1px solid #B360FC;
    background:rgba(168,85,247,0.12);
    backdrop-filter:blur(12px);
    transition:0.3s;
    padding:28px;
    width:400px;
    
}

.career-card:hover {

    transform:translateY(-6px);
    box-shadow: 0 10px 30px rgba(168,85,247,0.25);
}

.career-icon-heading {

    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.career-icon-heading h2 {

    font-size:28px;
    margin-top:15px;
    margin-bottom:15px;
    color:#C084FC;
    
}

.career-icon-heading span {

    color:#C084FC;
    text-shadow:0 0 20px rgba(192,132,252,0.4);
    
}

.carrer-pargraph p {

    display:flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.952);
    line-height: 1.5;
}