
.navbar-container {

    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.page-wraper {

    width:100%;
    margin:0 auto;
    padding:30px;
}

.navbar-container nav {
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    background: rgba(35, 0, 80, 0.35);
    backdrop-filter: blur(18px);
   -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.35), 0 0 30px rgba(168,85,247,0.15);
    border-radius: 50px;
    border-top: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.10);
    border-bottom: 1px solid rgba(255,255,255,0.11);
}
    

.logo-container {

    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {

    font-size: 28px;
    color: #F8FAFC;
    margin:10px;
}

.logo-symbol {

    font-size: 28px;
    color:#a74cfc;
}

.navbar-middle {

    display:flex;
    gap:48px;
    align-items: center;
} 

.navbar-middle a {

     color:#F8FAFC;
     text-decoration: none;
}

.navbar-last {

    display:flex;
    gap:10px;
    margin-right:10px;
}

.navbar-last a {

    text-decoration:none;
    padding:5px;
    border-radius: 20px;
    font-size:16px;
}

.login-btn , .signup-btn {

    background: transparent;
    color:#F8FAFC;
    border: 1px solid rgba(255,255,255,0.15);
    transition: 0.3s;
    width: 100px;
    
}


.login-btn:hover , .signup-btn:hover {

     transform: translateY(-2px);
     box-shadow: 0 0 25px rgba(168,85,247,0.3);
}

